* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: rgb(220, 0, 103);
}

.container {
  padding: 0 0.5em;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

input, select {
  font: inherit;
  color: inherit;
}

hr {
  height: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #f9f9f9;
}

.table td, th {
  padding: 8px;
  text-align: left;
}

.table td {
  border-top: 1px solid #ddd;
}

.table th {
  border-top: 0;
  border-bottom: 2px solid #ddd;
}

#currentVersions {
  float:right;
  padding: .5em;
  color: #999;
}

#firmwareTable {
  padding-top: 4em;
}

.firmwareTableLink {
  float:right;
  color: #337ab7;
  cursor: pointer;
}

.firmwareTableLink:hover {
  text-decoration: underline;
}

#wizard {
  width: 70%;
  padding-bottom: 4em;
}

#wizard p {
  margin: 1em auto;
}

#wizard select {
  margin-bottom: .5em;
}

#wizard .radiogroup input {
  display: none;
}

#wizard .radiogroup label, .abutton {
  display: inline-block;
  list-style-type: none;
  color: black;
  background-color: #ffb400;
  margin: .5em;
  padding: .5em;
  font-weight: normal;
  cursor: pointer;
  border: .15em solid #ffb400;
  border-radius: .5em;
}

#wizard .box-inset {
  margin: 1em 0;
  padding: 1em;
  box-shadow: 0px 0px .5em black inset;
  background-color: #c90000;
  color: #ffffff;
  font-weight: lighter;
}

#wizard .box-inset .branch-experimental-dl {
  margin: .75em 0 0 0;
  padding: 0;
  opacity: .85;
}

#wizard .abutton:hover {
  color: black
}

#wizard .radiogroup input[type="radio"]:checked + label {
  border: 0.15em solid #cc8100;
  box-shadow: 0 0 5px #cc8100 inset;
}

.initiallyhidden {
  display: none;
}
