h1 {
  color: rgb(220, 0, 103);
}

.currentVersions {
  float:right;
  padding: .5em;
  color: #999;
}

.firmwareTable {
  padding-top: 4em;
}

.firmwareTableLink {
  float:right;
  color: #337ab7;
  cursor: pointer;
}

.firmwareTableLink:hover {
  text-decoration: underline;
}

.wizard {
  width: 70%;
  padding-bottom: 4em;
}

.wizard p {
  margin: 1em auto;
}

.wizard select {
  margin-bottom: .5em;
}

.wizard .radiogroup input {
  display: none;
}

.wizard .radiogroup label, .abutton {
  display: inline-block;
  list-style-type: none;
  color: black;
  background-color: #ffb400;
  margin: .5em;
  padding: .5em;
  font-weight: normal;
  cursor: pointer;
  border: .15em solid #ffb400;
  border-radius: .5em;
}

.wizard .box-inset {
  width: 100%;
  background-color: #444;
}

.wizard .abutton:hover {
  color: black
}

.wizard .radiogroup input[type="radio"]:checked + label {
  border: 0.15em solid #cc8100;
  box-shadow: 0 0 5px #cc8100 inset;
}

.initiallyhidden {
  display: none;
}
